<h1 class="margin32px">{{title}}</h1>
{{#if user}}
  <a href="/genres/add">Add a new Genre</a>
  <p></p>
{{/if}}
<table class="table table-success table-striped table-hover">
  <thead>
    <th class="fs-3">Genre Type</th>
  </thead>
  <tbody>
    {{#each dataset}}
      <tr>
        <td>{{this.name}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>