<h1>
  {{title}}
</h1>
<form method="POST">
  {{! Input names have to match the name of the fields in the mongo schema object }}
  {{! Mapping is not automatic, but it's best practices }}
  <fieldset>
    <label for="name" class="col-2">
      Name:
    </label>
    <input name="name" id="name" required />
  </fieldset>
  <fieldset>
    <label for="author" class="col-2">
      Author:
    </label>
    <input name="author" id="author" required />
  </fieldset>
  <fieldset>
    <label for="language" class="col-2">
      Language:
    </label>
    <input name="language" id="language" required />
  </fieldset>
  <fieldset>
    <label for="publishedDate" class="col-2">
      Published Date:
    </label>
    <input name="publishedDate" id="publishedDate" required type="date" />
  </fieldset>
  <fieldset>
    <label for="arrivedDate" class="col-2">
      Arrived Date:
    </label>
    <input name="arrivedDate" id="arrivedDate" required type="date" />
  </fieldset>
  <fieldset>
    <label for="genre" class="col-2">
      Genre:
    </label>
    {{! <input name="course" id="course" required /> }}
    <select name="genre" id="genre">
      {{#each genres}}
        <option>{{this.name}}</option>
      {{/each}}
    </select>
  </fieldset>
  <fieldset>
    <label for="About" class="col-2">
      About:
    </label>
    <input name="About" id="About" required />
  </fieldset>
  {{! No need to specify Status since it has a default value }}
  {{! Button needs to be inside <form> element to trigger POST }}
  <button class="offset-3 btn btn-primary">
    Save
  </button>
</form>