{{! Auhor: Karnasinh Gohil }}

{{! This is heading tage taking title variable value in it }}
<h1 class="margin32px">
  {{title}}
</h1>

{{! This is new book adding form }}
<form method="POST">

  {{! This is name field }}
  <fieldset>
    <label class="col-2" for="name">
      Name:
    </label>
    <input class="marginbottom32px" name="name" id="name" required />
  </fieldset>
  {{! This is author field }}
  <fieldset>
    <label class="col-2" for="author">
      Author:
    </label>
    <input class="marginbottom32px" name="author" id="author" required />
  </fieldset>
  {{! This is language field }}
  <fieldset>
    <label class="col-2" for="language">
      Language:
    </label>
    <input class="marginbottom32px" name="language" id="language" required />
  </fieldset>
  {{! This is book publish field }}
  <fieldset>
    <label class="col-2" for="publishedDate">
      Published Date:
    </label>
    <input
      class="marginbottom32px"
      name="publishedDate"
      id="publishedDate"
      required
      type="date"
    />
  </fieldset>
  {{! This is book arrived at library date field }}
  <fieldset>
    <label class="col-2" for="arrivedDate">
      Arrived Date:
    </label>
    <input
      class="marginbottom32px"
      name="arrivedDate"
      id="arrivedDate"
      required
      type="date"
    />
  </fieldset>
  {{! This is genre dropdown menu selection field }}
  <fieldset>
    <label class="col-2" for="genre">
      Genre:
    </label>
    {{! This will generate drop down menu field for genre }}
    <select class="marginbottom32px" name="genre" id="genre">
      {{#each genres}}
        <option>{{this.name}}</option>
      {{/each}}
    </select>
  </fieldset>
  {{! This is about field }}
  <fieldset>
    <label class="col-2" for="about">
      About:
    </label>
    <input class="marginbottom32px" name="about" id="about" required />
  </fieldset>
  {{! Data will be passed to database as user click on this }}
  <button class="btn btn-primary col-4">
    Save
  </button>
</form>
{{! This is end of form }}