{{! Auhor: Karnasinh Gohil }}

<div class="justify-content-center">
  {{! This is heading tage taking title variable value in it }}
  <H1 class="contactMainHeading fst-italic"><u><i>{{title}}</i></u></H1>
  {{! This is the details about the library vision }}
  <h2 class="contactMainHeading">Vision</h2>
  <blockquote class="blockquote">
    <p class="padding col-6">Knowledge-City Library will be recognized as the
      world's leading library by informing and inspiring Brampton and its
      communities, making us all more resilient, more knowledgeable, more
      connected and more successful.</p>
  </blockquote>
  {{! This is about the mission of the Library }}
  <h2 class="contactMainHeading">Mission</h2>
  <blockquote class="blockquote">
    <p class="padding col-6">Knowledge-City Library provides free and equitable
      access to services which meet the changing needs of Torontonians. The
      Library preserves and promotes universal access to a broad range of human
      knowledge, experience, information and ideas in a welcoming and supportive
      environment.</p>
  </blockquote>
  {{! This is about the values of the Library }}
  <h2 class="contactMainHeading">Values</h2>
  <blockquote class="blockquote">
    <ol class="col-6">
      <li><b>Equity:</b> Accessibility, respect and fairness</li>
      <li><b>Diversity:</b>
        Valuing individual needs, experiences and differences</li>
      <li><b>Intellectual Freedom:</b>
        Guaranteeing and facilitating the free exchange of information and ideas
        in a democratic society, protecting intellectual freedom and respecting
        individuals' rights to privacy and choice</li>
      <li><b>Innovation:</b>
        Encouraging creativity, experimentation and the generation of ideas</li>
      <li><b>Inclusion:</b>
        Welcoming participation in decision making and service development by
        residents and communities</li>
      <li><b>Integrity:</b>
        Integrity: Open, transparent and honest in all our dealings</li>
      <li><b>Accountability:</b>
        Taking responsibility for our actions and the services we provide</li>
      <li><b>Service Orientation:</b>
        Providing excellent, responsive services</li>
    </ol>
  </blockquote>
</div>