<div class="justify-content-center">
<H1 class="contactMainHeading">{{title}}</H1>

<blockquote class="blockquote">
  <p>If you have feedback about the library or you just want to ask a question,
    we’re happy to help you.</p>
</blockquote>

<h2 class="contactMainHeading">Email</h2>
<blockquote class="blockquote">
  <p>Get help or share feedback by email at
    <mark>support.library@knowledgecity.ca</mark>
    or submit an online form:</p>

  <ul>
    <li class="text-primary"><u>Suggest a title</u></li>
    <li class="text-primary"><u>Ask our reference team a question</u></li>
  </ul>
</blockquote>

<h2 class="contactMainHeading">Phone</h2>
<blockquote class="blockquote">
  <p>Call us at
    <mark>905-302-2100</mark>
    or your
    <u class="text-primary">local library location</u>
    if you have any questions about your account, holds, need information, or
    want to provide feedback.</p>
</blockquote>

<h2 class="contactMainHeading">Mailing address</h2>
<blockquote class="blockquote">
  <address>
    Mail To :
    <a href="mailto:support.library@knowledgecity.ca">Knowledge-City Libraty</a><br
    />
    Visit us at : Knowledge-City Library Administration<br />
    3351 King Martin Drive<br />
    Brampton, L6Y 6B5<br />
    Ontario, Canada<br />
  </address>
</blockquote>

<h2 class="contactMainHeading">Library locations</h2>
<blockquote class="blockquote">
  <p>You can find hours, phone numbers and addresses for your local library
    under
    <u>locations</u>.</p>
</blockquote>

<h2 class="contactMainHeading">Library leadership team</h2>
<blockquote class="blockquote">
  <ul>
    <li class="teamContact">
      <p class="teamName">Robert Peter – Director, Library Services</p>
      <a href="mailto:robertpeter@knowledgecity.ca">Robert.Peter@knowledgecity.ca</a>
    </li>
    <li class="teamContact">
      <p class="teamName">Laura Daniela – Manager, Central Library and Community Development</p>
      <a href="mailto:lauradaniela@knowledgecity.ca">Laura.Daniela@knowledgecity.ca</a></li>
    </li>
    <li class="teamContact">
      <p class="teamName">Jennifer Wright – Manager, Digital Library Services and Collections</p>
      <a href="mailto:jenniferwright@knowledgecity.ca">Jennifer.Wright@knowledgecity.ca</a></li>
    </li>
    <li class="teamContact">
      <p class="teamName">Jackson Lee – Manager, Library Facilities and Operations</p>
      <a href="mailto:jacksonlee@knowledgecity.ca">Jackson.Lee@knowledgecity.ca</a></li>
    </li>
    <li class="teamContact">
      <p class="teamName">Soman Raja – Manager, Library Operations, Planning and Analysis</p>
      <a href="mailto:somanraja@knowledgecity.ca">Soman.Raja@knowledgecity.ca</a></li>
    </li>
  </ul>
</blockquote>
</div>