{{! Auhor: Karnasinh Gohil }}

{{! This shows the error message if page is unable to load. }}
<h1>{{message}}</h1>
{{! This shows error status }}
<h2>{{error.status}}</h2>
{{! This takes stack property from the error and display it }}
<pre>{{error.stack}}</pre>