{{! Auhor: Karnasinh Gohil }}
{{! Boiler plate code has taken from this and then modified according to my requirement }}
{{! Boiler plte code link : https://mdbootstrap.com/docs/standard/forms/overview/ }}
<div class="col-4 container margin32px">
  {{! This is heading tag taking title variable value in it }}
  <h1 class="text-center margin32px">{{title}}</h1>
  <form method="post">
    <!-- 2 column grid layout with text inputs for the first and last names -->
    <!-- Email input -->
    <div class="form-outline mb-4 margin32px">
      <input
        name="username"
        id="username"
        required
        type="email"
        placeholder="email@email.com"
        class="form-control"
      />
      <label class="form-label" for="username">Email address</label>
    </div>

    <!-- Password input -->
    <div class="form-outline mb-4 margin32px">
      <input
        name="password"
        id="password"
        type="password"
        required
        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
        class="form-control"
      />
      <label class="form-label" for="password">Password</label>
    </div>

    <!-- Password input -->
    <div class="form-outline mb-4 margin32px">
      <input
        name="confirm"
        id="confirm"
        class="form-control"
        type="password"
        required
        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
      />
      <label for="confirm" class="form-label">Confirm Password</label>
    </div>

    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-4">Sign up</button>

    <!-- Register buttons -->
    <div class="text-center margin32px">
      <p>or sign up with:</p>
      {{! Githug register link }}
      <a class="fab fa-github" href="/github">Github</a>
    </div>

    <div class="text-center form-outline mb-4 margin32px">
      Already have an account?
      {{! login page link }}
      <a href="/login" title="Login">Login</a>
    </div>
  </form>
</div>