@import url('../node_modules/font-awesome/css/font-awesome.min.css');

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.teamName
{
  margin: 0;
}

.teamContact
{
  margin-bottom: 16px;
}

.contactMainHeading
{
  margin-top: 50px;
}

.margin
{
  margin: 0;
}

.padding
{
  padding: 0;
}

nav{
  list-style:none ;
}

.margin32px
{
  margin-top: 32px;
  margin-bottom: 32px;
}

.marginbottom16px
{
  margin-bottom: 16px;
}

.marginbottom32px
{
  margin-bottom: 32px;
}

.table-sortable th {
  cursor: pointer;
}

.table-sortable .th-sort-asc::after {
  content: "\25b4";
}

.table-sortable .th-sort-desc::after {
  content: "\25be";
}

.table-sortable .th-sort-asc::after,
.table-sortable .th-sort-desc::after {
  margin-left: 5px;
}

.table-sortable .th-sort-asc,
.table-sortable .th-sort-desc {
  background: rgba(0, 0, 0, 0.1);
}


/* =============================== */

/* Imported font library from the google font API */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&family=Poppins:ital,wght@0,400;0,500;0,600;1,300&display=swap');

/* Style to body and HTML tag of all webpages */
body, html {
   /* margin set to 0 */
   margin: 0;
   /* padding set to 0 */
   padding: 0;
   /* Type of box border */
   box-sizing: border-box;
   /* Defining type of font */
   font-family: 'Oswald', sans-serif;
}

/* Style to the unordered list */
ul {
   margin: 0;
   padding: 0;
   /* Removed all style */
   list-style: none;
}

/* To remove line from the bottom */
a {
   text-decoration: none;
}

/* Style to the image of the Home page */
img {
   /* Set width to 100% to all images of all webpages */
   width: 100%;
   /* Display type set to block */
   display: block;
}

/* Style to the search bar */
input {
   /* to make large by padding */
   padding: 0.5rem;
}

/* Style for Header and navigation link bar */

header {
   /* Set bakcground colour black */
   background-color: black;
}

/* Setting up display type flex to all container class */
header .container {
   /* Type flex not grid */
   display: flex;
   /* Align iterm to the center vertically */
   align-items: center;
   /* Adding space inbetween */
   justify-content: space-between;
}

/* Style to the image in the header */
header img {
   width: auto;
   /* Set height to the 75 pixel */
   height: 75px;
   /* Change arrow to hand symbol */
   cursor: pointer;
   padding-left: 1rem;
}

/* Style to he nav-items class */
.nav-items {
   display: flex;
   align-items: center;
   /* setting up gap 16pixel between iteams */
   gap: 1rem;
   padding: 1rem;
}

/* Style to the nav-item class */
.nav-item {
   padding: 1rem;
}

/* Style to the header navigation link */
.nav-item:hover {
   /* Display line in the bottom of navigation link */
   border-bottom: solid 2px burlywood;
}


.nav-item:hover .nav-link{
   /* Red colour line in the bottom */
   color: red;
}

/* Style to the all navigation link */
.nav-link{
   /* Font size to 1.3x16px */
   font-size: 1.3rem;
   color:rgb(205, 223, 240);
}

/* Hero section of the webapge*/
.hero {
   /* Setting style to the images */
   background: url('../images/heroimage.jpeg');
   /* Position to the center */
   background-position: center;
   /* Set only one image in the entire webpage, no repetation */
   background-repeat: no-repeat;
   /* Make it large enough to set in the webpage */
   background-size: cover;
   /* Making image more dark by adding extra grey colour layer */
   background-color: grey;
   background-blend-mode: darken;
   /* Setting height and width */
   height: 80vh;
   width: 100%;
   /* Setting up veticle position */
   z-index: -1;
   /* Adding aliceblue colour layer */
   color: aliceblue;
}

/* style to the hero section container */
.hero .container {
   /* placing items horizontal */
   display: flex;
   /* Changing item position vertically */
   flex-direction: column;
   /* Center horizontally */
   justify-content: center;
   /* take height 100% */
   height: 100%;
}

/* Style to the H1 html tag */
.hero h1 {
   /* 64pixel font size */
   font-size: 4rem;
}

.hero p {
   font-size: 1.5rem;
   max-width: 50%;
   line-height: 2rem;
}

/* Style to the button in upper half of home webpage */
.hero button {
   font-size: 1.5rem;
   /* Horizontally 0.5 and vertically 1.2 */
   padding: 0.5rem 1.2rem;
   /* Align to the left side */
   align-self: flex-start;
}

.hero a {
   font-size: 1.5rem;
   padding: 0px;
   margin: 0px;
}
/* Style for the CEO content section */
.about-author {
   display: flex;
   /* All around padding 100 pixel */
   padding: 100px;
}

/* Style for speech by the CEO */
.about-author .author-text {
   /* Set text in half of width */
   width: 50%;
   /* background colour is changed */
   background-color:darkseagreen;
   /* to make gap between text and image */
   padding: 1rem;
   font-size: 1.2rem;
}

/* Title of CEO speech */
.author-text h3 {
   /* increasing font size */
   font-size: 1.5rem;
}

/* CEO image */
.about-author .author-image {
   /* Setting image in half of the width */
   width: 50%;
}

/* Section services */
.services {
   display: flex;
   gap: 2rem;
   /* Only providing padding to the bottom */
   padding-bottom: 6rem;
}

.service {
   /* Adding border around all three images+texts */
   border: solid 1.5px rgb(40, 5, 238);
}

/* Style to the heading of the services */
.service h4 {
   padding: 0 1rem;
   /* Changing heading colours */
   color: rgb(0, 0, 0);
   font-size: 1.5rem;
   text-align: center;
   /* Change font type for this section */
   font-family: 'Courier New', Courier, monospace;
}

/* Style for all other texts */
.service p {
   padding: 0 1rem;
   text-align: center;
   /* Changing font style for the paragraph content */
   font-family: Arial, Helvetica, sans-serif;
}
   
/* Style to the class */
.service .service-img {
   /* Images will not come outside */
   overflow: hidden;
}

/* Style to the image */
.service img {
   /* Take 0.3 sec delay for zooming images */
   transition: 0.3s;
   /* keep image inside the box after zoom */
   overflow: hidden;
}

/* Enlarge the image by 1.2 times */
.service img:hover {
   transform: scale(1.2);
}

/* Style for the Footer webpage */
footer {
   /* Setting up the background colour black */
   background-color:black;
}

/* Style to the footer items */
.footer {
   /* All items placce horizontally */
   display: flex;
   /* adding space */
   justify-content: space-between;
   align-items: center;
   padding: 1rem;
}

.company img {
   /* Setting up the image width as per the height size rarion */
   width: auto;
   /* Height to 75 pixel tall */
   height: 75px;
   /* Change the coursor sign */
   cursor: pointer;
   padding-left: 1rem;
   align-items: center;
}

.navigation-list {
   /* Adding space inbetween by padding and margin all around */
   padding: 0.5rem;
   margin: 1rem;
   
}

.list-link{
   /* Change colour */
   color: aliceblue;
   font-size: 1.3rem;
}

.social-list {
   display: flex;
   /* Addign gap between the items */
   gap: 2rem;
   /* Align all items horizontally in the center */
   align-items: center;
}

.social-list img{
   /* Setting up the width 50pixel */
   width: 50px;
   height: auto;
}

/* Style to he container */
.container {
   /* Except background images all items of all webpage will be in the 1200pixel width */
   max-width: 1200px;
   margin: auto;
}

.bg-primary {
   /* background colour setting up */
   background-color: aqua;
}

/* About Company Page */

/* Style to the company page main image */
.aboutcompany {
   background: url('../images/aboutcompany.jpeg');
   background-position: center;
   /* No repetation of the same image */
   background-repeat: no-repeat;
   /* Setting up as the cover image */
   background-size: cover;
   background-blend-mode: darken;
   height: 80vh;
   width: 100vw;
   /* Place vertically center */
   z-index: -1;
   color: aliceblue;
}

/* Style to the company main page container */
.aboutcompany .container {
   /* flex type display */
   display: flex;
   /* Place items vertically */
   flex-direction: column;
   justify-content: center;
   /* Height seto to full height */
   height: 100%;
}

/* Style to the H1 tag */
.aboutcompany h1 {
   /* Increasing font size */
   font-size: 4rem;
}

/* Style to the paragraph content */
.aboutcompany p {
   font-size: 1.5rem;
   /* Set entire paragraph to the half of the width */
   max-width: 50%;
   /* Spacing between lines of the paragraph */
   line-height: 2rem;
}

/* Style to the button */
.aboutcompany button {
   font-size: 1.5rem;
   padding: 0.5rem 1.2rem;
   /* Alignment to the starting of the cell */
   align-self: flex-start;
}

/* Style to the h3 tag */
.IBMERS-text h3{
   font-size: 1.5rem;
   /* Changing colour */
   background-color: crimson;
   /* All texts set to center vertically */
   text-align: center;
}

/* Style to the paragraph */
.IBMERS-text p{
   /* Increasing font size */
   font-size: 1.2rem;   
}

.IBMERS-image
{
      /* Setting up display type grid */
      display: grid;
      /* Grid template sequence is 1fr for contineous 4 content */
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
      /* Setting up margin 64px at the bottom */
      margin-bottom: 4rem;
}

/* Style to the h3 tag */
.history-text h3{
   /* Increasing font size */
   font-size: 1.5rem;
   /* Marginset to 0 to keep them on the edge */
   margin: 0rem;
   padding: 0.1rem;
   text-align: center;
   /* Added border */
   border: 1rem;
   font-weight: normal;
}

/* Style to the marquee */
marquee{
   /* Setting up the colour */
   background-color: darkorange;
}

/* Style changed to all historic images of IBM */
.imagedata01 {
   /* All images set to flex type */
   display: flex;
   /* Removed margin from the bottom */
   margin-bottom: 0rem;
   align-items: center;
   /* Added padding on the top */
   padding-top: 1rem;
}

/* Style to all data content of the historic images */
.data01{
   /* Set to hald of the width */
   max-width: 50%;
   /* Keep little bit inside provided padding */
   padding: 1rem;
}

/* Same properties to image1 */
.imagedata02 {
   display: flex;
   margin-bottom: 0rem;
   align-items: center;
}

/* Same style as per data01 */
.data02{
   max-width: 50%;
   padding: 1rem;
}

/* Same properties to image1 */
.imagedata03 {
   display: flex;
   margin-bottom: 0rem;
   align-items: center;
}

/* Same style as per data01 */
.data03{
   max-width: 50%;
   padding: 1rem;
}

/* Same properties to image1 */
.imagedata04 {
   display: flex;
   margin-bottom: 0rem;
   align-items: center;
   padding-bottom: 2rem;
}

/* Same style as per data01 */
.data04{
   max-width: 50%;
   padding: 1rem;
}

/* Extra style to the historic contents */
.history-image
{
   text-align: center;
   /* Increasing gap between letters of the paragraph */
   letter-spacing: 0.1rem;
   font-size: 1.3rem;
}

/* About Contact web page */

/* Style to the upper part of the webpage */
.contactgeneral{
   /* Increasing font size */
   font-size: 1.5rem;
   /* Change colour to blue */
   color: blue;
}

/* Style to the horizontal ruler line */

hr{
   /* Setting up style to line, changed colour, width of line */
   border: 2px solid rgb(0, 0, 0);
}

.aboutbody{
   /* Increasing font size */
   font-size: 1.5rem;
}

/* Style to the H4 tag */
.aboutbody h4{
   /* Slightly increasing the style */
   font-size: 1.1rem;
   /* Change the colour */
   color: red;
   /* Removed font width */
   font-weight: normal;
   /* Changed font style */
   font-family: "Times New Roman", Times, serif;
}

/* Style to asterisks sign */
.asterisks{
   /* Change colour */
   color: red;
}


.submit{
   padding: 1rem;
}

/* Product Webpage */
.productbody
{

   text-align: center;
   /* Change colour */
   background-color: rgb(196, 196, 196);
   /* Added underline to the text */
   text-decoration: underline;
}

.allproducts img{

   padding: 0.1rem;
   /* Added properties to the border */
   border: 1px solid rgb(0, 0, 0);
}

/* Style to the images */
.allproducts img {
   /* Tkae 0.3 sec to enlarge images */
   transition: 0.3s;
   overflow: hidden;
}

/* Style to the images */
.allproducts img:hover {
   /* Increase the image by 1.08% */
   transform: scale(1.08);
}
.products-A
{
      /* Setting up display type grid */
      display: grid;
      /* Grid template secuence is 1fr for contineous 4 content */
      grid-template-columns: repeat(4, 1fr);
      gap: 2rem;
      /* Setting up margin 64px at the bottom */
      margin: 1rem;
}

.products-B
{
      /* Setting up display type grid */
      display: grid;
      /* Grid template secuence is 1fr for contineous 4 content */
      grid-template-columns: repeat(4, 1fr);
      gap: 2rem;
      /* Setting up margin 64px at the bottom */
      margin: 1rem;
}

.products-C
{
      /* Setting up display type grid */
      display: grid;
      /* Grid template secuence is 1fr for contineous 4 content */
      grid-template-columns: repeat(4, 1fr);
      gap: 2rem;
      /* Setting up margin 64px at the bottom */
      margin: 1rem;
}

.products-D
{
      /* Setting up display type grid */
      display: grid;
      /* Grid template secuence is 1fr for contineous 4 content */
      grid-template-columns: repeat(4, 1fr);
      gap: 2rem;
      /* Setting up margin 64px at the bottom */
      margin: 1rem;
}


