body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.teamName
{
  margin: 0;
}

.teamContact
{
  margin-bottom: 16px;
}

.contactMainHeading
{
  margin-top: 50px;
}

.margin
{
  margin: 0;
}

.padding
{
  padding: 0;
}

nav{
  list-style:none ;
}
